body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cardThumbnails_impact {
  border: 1px solid black; 
  width: 35px;
  height: 35px;
  font-size: 12px;
}

.CardThumbnails_userIcon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
/* BEGIN DASHBOARD STYLES */
/* dashboard main container div */
.dashboardContainer {
  display: flex;
  padding: 0 15rem 0 15rem;
  justify-content: space-between;
}

/* dashboard form */
.dashboardProfileForm form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid
}

.dashboardProfileForm form h2 {
  margin: 0;
}

.dashboardProfileForm form input {
  margin: 0;
  width: 300px;
  height: 30px;
  font-size: 1.2rem;
  padding-left: .5rem;
}

.dashboardNameInput,
.dashboardEmailInput,
.dashboardPasswordInput {
  padding: 1rem 0 1rem 0;
}

.dashboardFormBtn {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
}

.dashboardFormBtn:hover {
  cursor: pointer;
  background: #686868;
  color: #fff;
}

/* tables section */
.dashboardTables {
  /* border: 1px solid #000; */
}

.dashboardTables h2 {
  padding-left: 3rem;
}

.dashboardTablesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
}

.dashboardTables ul {
  list-style: none;
}

.dashboardTables .newTable {
  display: grid;
  place-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  border-radius: 5px;
}

/* END DASHBOARD STYLES */