body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardThumbnails_impact {
  border: 1px solid black;
  width: 35px;
  height: 35px;
  font-size: 12px;
}

.CardThumbnails_userIcon {
  border-radius: 50%;
}

.flash-container {
  position: fixed;
  z-index: 100;
  top: 40%;
  left: 25%;
  width: 50%;
  text-align: center;
  font-size: 2rem;
}

.ControlsSearchItems {
  position: absolute;
  width: 500px;
  top: 50px;
  left: 65px;
  border: 1px solid black;
  z-index: 1;
  background-color: #eee;
}

.ControlsSearchItem:hover {
  background-color: #cdcdcd;
}

.CardThumbnailsSingleCard:hover {
  background-color: #cdcdcd;
}

/* BEGIN LOGIN/SIGNUP/LANDING STYLES */
/* Login Component & Login Button */
.login {
  background: #f1f0f0 !important;
}

.loginBtn {
  border-radius: var(--border-button-border-radius, 4px) !important;
  font-size: var(--font-button-font-size, 16px) !important;
  line-height: var(--font-button-line-height, 24px) !important;
  letter-spacing: var(--font-button-letter-spacing, normal) !important;
  font-family: var(
    --font-button-font-family,
    Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica Neue,
    sans-serif
  ) !important;
  text-transform: var(--font-button-text-transform, undefined) !important;
  padding-top: var(--spacing-button-vertical, 6px) !important;
  padding-bottom: var(--spacing-button-vertical, 6px) !important;
  font-weight: var(--font-bold-font-weight, 800) !important;
  border-width: var(--border-button-border-width, 2px) !important;
  padding-left: var(--spacing-button-horizontal, 22px) !important;
  padding-right: var(--spacing-button-horizontal, 22px) !important;
  box-shadow: var(--shadow-button-level0-box-shadow, none) !important;
  background: var(--color-buttons-primary-color, #ff5a5f) !important;
  border-color: var(--color-buttons-primary-border, transparent) !important;
  color: var(--color-buttons-primary-text, #ffffff) !important;
}

/* Register Component */
#register {
  background: #f1f0f0 !important;
  border-radius: 4px !important;
  padding: 32px !important;
  padding-bottom: 24px !important;
  width: 525px !important;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.25) !important;
  font-size: 14px !important;
  line-height: 1.43;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

/* Sign Up Button */
.signup {
  border-radius: var(--border-button-border-radius, 4px) !important;
  font-size: var(--font-button-font-size, 16px) !important;
  line-height: var(--font-button-line-height, 24px) !important;
  letter-spacing: var(--font-button-letter-spacing, normal) !important;
  font-family: var(
    --font-button-font-family,
    Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica Neue,
    sans-serif
  ) !important;
  text-transform: var(--font-button-text-transform, undefined) !important;
  padding-top: var(--spacing-button-vertical, 10px) !important;
  padding-bottom: var(--spacing-button-vertical, 10px) !important;
  font-weight: var(--font-bold-font-weight, 800) !important;
  border-width: var(--border-button-border-width, 2px) !important;
  padding-left: var(--spacing-button-horizontal, 22px) !important;
  padding-right: var(--spacing-button-horizontal, 22px) !important;
  box-shadow: var(--shadow-button-level0-box-shadow, none) !important;
  background: var(--color-buttons-primary-color, #ff5a5f) !important;
  border-color: var(--color-buttons-primary-border, transparent) !important;
  color: var(--color-buttons-primary-text, #ffffff) !important;
}
/* END LOGIN/SIGNUP/LANDING STYLES */

/* BEGIN DEX NAVBAR STYLES */
.dexNavBar {
  background-color: #f1f0f0 !important;
}
/* END DEX NAVBAR STYLES */

/* BEGIN CREATE/EDIT TABLE MODAL STYLES */
/* END CREATE/EDIT TABLE MODAL STYLES */

/* BEGIN TABLE CONTROL BAR STYLES */
.tableControlsUserNameCircles {
  align-items: center;
  background-color: #dfe1e6;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  border-radius: 100%;
  box-sizing: border-box;
  color: #172b4d;
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  line-height: 28px;
  opacity: 1;
  height: 40px;
  width: 40px;
}
/* END TABLE CONTROL BAR STYLES */

/* BEGIN DASHBOARD STYLES */
/* dashboard main container div */
.dashboardContainer {
  display: flex;
  padding: 5rem 15rem 0 15rem;
  justify-content: space-between;
  background: rgb(195, 209, 209);
  height: 100vh;
}

/* dashboard form */
.dashboardProfileForm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 5px;
  background: #f1f0f0;
  box-shadow: 0 0 20px #808080;
}

.dashboardProfileForm form h2 {
  margin: 0;
}

.dashboardProfileForm input {
  margin: 0;
  width: 300px;
  height: 30px;
  font-size: 1.2rem;
  padding-left: .5rem;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}

.dashboardNameInput,
.dashboardEmailInput,
.dashboardPasswordInput {
  padding: 1rem 0 1rem 0;
}

.dashboardFormBtn {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  background: #ff5a5f;
  color: #fff;
}

.dashboardFormBtn:hover {
  cursor: pointer;
  background: #686868;
  color: #fff;
}

/* tables section */
.dashboardTables h2 {
  padding-left: 3rem;
}

.dashboardTablesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
}

.dashboardTables ul {
  list-style: none;
}

.dashboardTables .newTable {
  padding: .5rem;
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  border-radius: 5px;
}

.dashboardTables .newTable:hover {
  cursor: pointer;
}

.dashboardTables .newTable h5 {
  font-size: 100%;
}

.CardThumbnailsMove:hover {
  cursor: pointer;
}

.controls__modal {
  margin: 0;
}

.controls__modal button {
  margin: 0 20px;
}

/* END DASHBOARD STYLES */

